@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: rgb(237, 226, 217);
  --color-text: rgb(40, 38, 39);

  --color-text-80: rgba(40, 38, 39, 0.8);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
