@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #ede2d9;
  --color-text: rgb(40, 38, 39);
  --color-text-80: rgba(40, 38, 39, 0.8);
  --color-scrollbar: rgb(219, 202, 189);
  --color-scrollbar-hover: rgb(207, 186, 171);
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
}

html.dark {
  --color-text: rgb(237, 226, 217);
  --color-background: #282627;
  --color-text-80: rgba(237, 226, 217, 0.8);
  --color-scrollbar: rgb(30, 27, 29);
  --color-scrollbar-hover: rgb(21, 18, 20);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar:horizontal {
  height: 10px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--color-background);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-hover);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}
.dark::view-transition-old(root) {
  z-index: 9999;
}
.dark::view-transition-new(root) {
  z-index: 1;
}
